openai
requests
pandas
python-dotenv
git+https://github.com/openai/whisper.git@main
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2

# git+https://github.com/openai/whisper.git
# torch  --index-url https://download.pytorch.org/whl/cu118
# torchvision  --index-url https://download.pytorch.org/whl/cu118
# torchaudio --index-url https://download.pytorch.org/whl/cu118
# ffmpeg